
{% load static %}
{% load website_tags %}
<div id="ftco-blog">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center ftco-heading">
                <h2>Recent Post</h2>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however</p>
            </div>
        </div>
        {% for post in posts %}
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="blog-featured animate-box">
                    <a href="{% url 'blog:single' post.id %}"><img class="img-responsive img-rounded" src="{{post.image.url}}" alt=""></a>
                    <div class="details">
						<div class="tags">
							<ul>
								{%for cat in post.category.all%}
								
									<a href='{% url "blog:category" cat_name=cat.name %}'>{{cat.name}}</a> {% if not forloop.last %} ,{% endif %}
								
								{%endfor%}
		
							</ul>
						</div>
                    <h2><a href="{% url 'blog:single' post.id %}">{{post.title}}</a></h2>
                    <p class="meta"><span>{{post.published_date|date:'d M Y'}}</span></p>
                    <p>{{post.content|truncatewords:10}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

