{%extends 'base.html'%}
{%load static%}
{% load blog_tags %}
{%block content%}
	<aside id="ftco-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
		   	<li style="background-image: url('http://127.0.0.1:2000/static/images/hero_1.jpg');">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
			   				<div class="slider-text-inner">
			   					<h1><strong>Our Blog</strong></h1>

			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
		 
	</aside>
     
    {% for post in posts %}
	<div id="ftco-blog">
		
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-4">
					<div class="blog-featured blog-entry animate-box">
						<a href="{% url 'blog:single' post.id %}"><img class="img-responsive img-rounded" src={{post.image.url}} alt=""></a>
						<h2><a href="{% url 'blog:single' post.id %}">{{post.title}}</a></h2>
						{%for cat in post.category.all%}
						<li><a href='{% url "blog:category" cat_name=cat.name %}'>{{cat.name}}</a>{% if not forloop.last %} {% endif %}</li>
						{%endfor%}
						<p class="view col-lg-12 col-md-12 col-6"><a href="#">{{post.counted_views}} Views</a> <span
							class="lnr lnr-eye"></span></p>
						<p class="meta"><span>{{post.published_date|date:'d M Y'}}</span> | <span> {% comments_count post.id %} Comments</span></p>
						<p>{{post.content|truncatewords:10}}</p>
					</div>
				</div>
	{% endfor %}

			</div>
			<nav class="blog-pagination justify-content-center d-flex">
					
				<ul class="pagination">
					{% if posts.has_previous %}
					<li class="page-item">
						<a href="?page={{ page_obj.previous_page_number }}" class="caption">
							<span>&#8617;</span>
							
						</a>
					</li>
					{% endif %}
					{% for i in posts.paginator.page_range %}
					{% if posts.number == i %}
						<li class="page-item active"><a href="?page={{i}}">{{i}}</a></li>
					{% else %}
						<li><a href="?page={{i}}">{{i}}</a></li>
					{% endif %}
					{% endfor %}
					{% if posts.has_next %}
					<li>
						<a href="?page={{ posts.next_page_number }}" class="caption">
							<span>&#8618;</span>
							
						</a>
					</li>
					{% endif %}
				</ul>
			</nav>
			</div>
		
		</div>
	</div>



	
{% endblock %}
