{% extends 'base.html'%}
{%load static%}
{%block content%}
	<body>
		
	<div class="ftco-loader"></div>
	
	<div id="page">
	<nav class="ftco-nav" role="navigation">
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-md-2">
						<div id="ftco-logo"><a href="{% url 'website:index' %}">Lawmaker</a></div>
					</div>
					<div class="col-md-10 text-right menu-1">
						<ul>
							<li><a href="{% url 'website:index' %}">Home</a></li>
								<a href="{% url 'blog:index' %}">Blog</a>
							<li><a href="{% url 'website:about' %}">About</a></li>
							<li><a href="{% url 'website:contact' %}">Contact</a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>

	<aside id="ftco-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
		   	<li style="background-image: url('http://127.0.0.1:2000/static/images/hero_1.jpg');">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
			   				<div class="slider-text-inner">
			   					<h1><strong>Our Blog</strong></h1>

			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
	</aside>

	<div id="ftco-blog">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-4">
					<div class="blog-featured blog-entry animate-box">
						<a href="#"><img class="img-responsive img-rounded" src="{%static 'images/blog-1.jpg' %}" alt=""></a>
						<h2><a href="#">Far from the countries Vokalia and Consonantia</a></h2>
						<p class="meta"><span>Jan 5, 2017</span> | <span>3 Comments</span></p>
						<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however</p>
					</div>
				</div>


			</div>
			<div class="row">
				<div class="col-md-12 pagination">
					<a href="#">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#" class="caption">Next</a>
				</div>
			</div>
		</div>
	</div>



	
	<div id="intro-bg">
		<div class="container">
			<div id="ftco-intro" style="position: relative; margin-bottom: -150px!important;">
				<div class="third-col">
					<h2 class="h3">Need Legal Services?</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
				<div class="third-col third-col-color">
					<h2 class="h3">Call now (+1) 123-456-7890</h2>
					<p>Email us at <a href="#" target="_blank">info@yourwebsite.com</a></p>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
